<template>
 <div class="todo">
   <add-task></add-task>
   <collection-task-list></collection-task-list>
 </div>
</template>

<script>
import addTask from '@/components/todo/add-task.vue';
import collectionTaskList from '@/components/todo/collection-task-list.vue';

export default {
  name: 'todo',
  components: {
    addTask,
    collectionTaskList,
  },
};
</script>

<style lang="scss" scoped>
</style>
