<template>
  <div class="addTask">
    <div class="outlineInput">
      <input class="addInput"
        type="text"
        name="addTask"
        placeholder="Type something ..."
        v-model="input_task"
        @keyup.enter="createTask(input_task)" >

      <button class="submitBtn"
      v-on:click="createTask(input_task)">Ajouter !</button>
    </div>
  </div>
</template>

<script>
import Vuex from 'vuex'
import store from '@/store.js'

export default {
  name: 'addTask',
  data: function data() {
    return {
      input_task: '',
    };
  },
  store: store,
  methods: {
    ...Vuex.mapActions(['addTask']),
    createTask: function (text) {
      this.addTask(text)
      this.input_task = '';
    },
  },
};
</script>

<style lang="scss" scoped>

.addTask {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  .outlineInput {
    // forme
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #7C7C7C80;
    box-shadow: 0 5px 6px 0 rgba(0,0,0,0.18);
    border-radius: 50px;
    overflow: hidden;

    // Position
    grid-column-start: 2;
    grid-column-end: 3;

    // Enfants
    display: grid;
    grid-template-columns: 1fr 48px;

    .addInput {
      border: none;
      height: 90%;
      font-size: 20px;
      margin-left: 16px;
      color: #7C7C7C;
    }

    .submitBtn {
      // Forme
      background-color: white;
      background-image: url(../../assets/logo.png);
      background-size: 26px;
      background-repeat: no-repeat;
      background-position: 10px 14px;
      height: 50px;
      width: 150px;
      border: 0;
      border-radius: 50px;
      border-left: 1px solid #7C7C7C80;
      overflow: hidden;

      // Content
      font-size: 20px;
      text-align: left;
      padding-left: 50px;

      // Animation
      transition: transform 0.25s ease-out;
      &:hover {
        transform: translateX(-100px);
      }
    }
  }
}

</style>
