<template>
  <div class="collectionTaskList">
    <task-list title="ToDo" :tasks="tasksToDo"></task-list>
    <task-list title="Doing" :tasks="tasksDoing"></task-list>
    <task-list title="Done" :tasks="tasksDone"></task-list>
  </div>
</template>

<script>
import taskList from '@/components/todo/task-list.vue';
import Vuex from 'vuex';
import store from '@/store.js';

export default {
  name: 'collectionTaskList',
  store: store,
  components: {
    taskList,
  },
  computed: {
    ...Vuex.mapGetters(['tasksToDo', 'tasksDoing', 'tasksDone'])
  },
};
</script>

<style lang="scss" scoped>
  .collectionTaskList {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-auto-rows: minmax(400px, auto);
  }
</style>
