<template>
  <div class="taskList">
    <div class="header">
      <p>{{title}}</p>
    </div>
    <div class="row" v-for="task in tasks" :key="task.id">
      <div class="text">{{ task.text }}</div>
      <div class="action">
        <div class="donut" v-on:click="increment(task)"></div>
      </div>
    </div>
  </div>
</template>

<script>
import Task from '@/entities/Task.js'
import Vuex from 'vuex';
import store from '@/store.js';

export default {
  name: 'taskList',
  props: {
    title: '',
    tasks: Array
  },
  store: store,
  methods: {
    ...Vuex.mapActions(['incrementeStatus', 'deleteTask']),
    increment: function (task) {
      if (task.status < 2) {
        this.incrementeStatus(task)
      } else {
        this.deleteTask(task)
      }
    },
  }
};
</script>

<style lang="scss" scoped>
.taskList {
  border: 1px solid #979797;
  border-radius: 10px;

  .header {
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #979797;
  }

  .row {
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 32px;
    line-height: 32px;

    &:nth-child(even) {
      background-color: #eee;
    }

    &::after {
      content: "";
      position: relative;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #0087ca;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

    .text {
      text-align: left;
      padding-left: 8px;
      word-wrap: break-word;
    }
    .action {
      vertical-align: middle;
      text-align: right;
      padding-right: 8px;

      @keyframes donutsAnim {
        0% {
          background-color: white;
          border: 10px solid rgb(57, 62, 94);
          width: 0px;
          height: 0px;
        }
        100% {
          background-color: #0087ca;
          border: 0px solid rgba(0, 0, 0, 0.1);
          width: 20px;
          height: 20px;
        }
      }

      .donut {
        display: inline-block;
        vertical-align: middle;
        border: 10px solid rgb(57, 62, 94);
        border-radius: 50%;
        width: 0px;
        height: 0px;

        &:hover {
          animation: donutsAnim;
          animation-duration: 0.5s;
          animation-fill-mode: forwards;
        }
      }
    }
  }
}
</style>
