<template>
  <div class="daveoHeader">
    <h1>DAVEO</h1>
  </div>
</template>

<script>
export default {
  name: 'daveoHeader',
};
</script>

<style lang="scss" scoped>
.daveoHeader {
  border-bottom: 1px solid gray;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;

  h1 {
    margin: 0px;
    padding: 16px;
  }
}
</style>
