<template>
  <div id="app">
    <daveo-header></daveo-header>
    <router-view/>
  </div>
</template>

<script>
import daveoHeader from '@/components/commons/daveo-header.vue';

export default {
  components: {
    daveoHeader,
  },
};
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
